<div class="row g-4">
  <div class="col-lg-8">
    <div class="row g-4">
      <!-- Developer Performance Card -->
      <div class="col-md-6">
        <div class="card shadow border-0 rounded-4">
          <div class="card-header bg-dark text-white fw-semibold text-center rounded-top-4">
            Developer Performance Score
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item fw-semibold" style="color: <%= performance_color(@employee.dev_score) %>" data-bs-toggle="tooltip" title="Overall score based on development metrics">
                Developer Score: <%= @employee.dev_score&.round(2) || "NA" %>
              </li>
              <li class="list-group-item" style="color: <%= performance_color(100 - @employee.merge_speed) %>" data-bs-toggle="tooltip" title="Average time taken to merge PRs (lower is better)">
                Merge Time Score: <%= @employee.merge_speed&.round(2) || "NA" %>
              </li>
              <li class="list-group-item" style="color: <%= performance_color(@employee.churn_score) %>" data-bs-toggle="tooltip" title="Amount of code rewritten or deleted after merging">
                Code Churn Score: <%= @employee.churn_score&.round(2) || "NA" %>
              </li>
              <li class="list-group-item" style="color: <%= performance_color(@employee.code_quality) %>" data-bs-toggle="tooltip" title="Quality score of submitted code">
                Code Quality Score: <%= @employee.code_quality&.round(2) || "NA" %>
              </li>
              <li class="list-group-item" style="color: <%= performance_color(100 - @employee.response_to_feedback) %>" data-bs-toggle="tooltip" title="Frequency of addressing feedback">
                Response to Feedback: <%= @employee.response_to_feedback&.round(2) || "NA" %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Reviewer Performance Card -->
      <div class="col-md-6">
        <div class="card shadow border-0 rounded-4">
          <div class="card-header bg-dark text-white fw-semibold text-center rounded-top-4">
            Reviewer Performance Score
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item fw-semibold" style="color: <%= performance_color(@employee.rev_score) %>" data-bs-toggle="tooltip" title="Overall score based on review metrics">
                Reviewer Score: <%= @employee.rev_score&.round(2) || "NA" %>
              </li>
              <li class="list-group-item" style="color: <%= performance_color(@employee.review_coverage) %>" data-bs-toggle="tooltip" title="Extent of reviews provided on PRs">
                Review Coverage Score: <%= @employee.review_coverage&.round(2) || "NA" %>
              </li>
              <li class="list-group-item" style="color: <%= performance_color(100 - @employee.closing_speed) %>" data-bs-toggle="tooltip" title="Time taken to close issues/PRs (lower is better)">
                Closing Time Score: <%= @employee.closing_speed&.round(2) || "NA" %>
              </li>
              <li class="list-group-item" style="color: <%= performance_color(@employee.engagement_score) %>" data-bs-toggle="tooltip" title="Engagement in code discussions and reviews">
                Engagement Score: <%= @employee.engagement_score&.round(2) || "NA" %>
              </li>
              <li class="list-group-item" style="color: <%= performance_color(100 - @employee.response_time) %>" data-bs-toggle="tooltip" title="Time taken to respond to PRs (lower is better)">
                Response Time Score: <%= @employee.response_time&.round(2) || "NA" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Filter Sidebar -->
  <div class="col-lg-4">
    <div class="card shadow border-0 rounded-4 p-4 sticky-top" style="top: 20px;">
      <h5 class="card-title text-center mb-4 fw-semibold">Filter Options</h5>
      <%= form_with url: employee_path, method: :get, local: true do |f| %>
        <div class="mb-3">
          <%= f.label :start_date, "Start Date:", class: "form-label fw-semibold" %>
          <%= f.date_field :start_date, value: params[:start_date] || 1.year.ago.to_date, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :end_date, "End Date:", class: "form-label fw-semibold" %>
          <%= f.date_field :end_date, value: params[:end_date] || Date.current, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :status, "PR Status:", class: "form-label fw-semibold" %>
          <%= f.select :status, [["Closed", "closed"], ["All", "all"]], selected: params[:status], class: "form-select" %>
        </div>

        <%= f.submit "Apply", class: "btn btn-dark w-100" %>
      <% end %>

      <div class="text-center mt-3">
        <%= link_to "Back to Dashboard", dashboard_index_path(start_date: params[:start_date], end_date: params[:end_date], status: params[:status]), class: "btn btn-outline-dark w-100" %>
      </div>
    </div>
  </div>
</div>