<%= form_with url: dashboard_index_path, method: :get do |f| %>
  <%= f.label :range, "Time Range:" %>
  <%= f.select :range, [["All Time", "all"], ["Last 7 Days", "7days"], ["Last 30 Days", "30days"]]%>

  <%= f.label :status, "PR Status:" %>
  <%= f.select :status, [["All", "all"], ["Closed", "closed"]]%>

  <%= f.label :sort_by, "Sort By:" %>
  <%= f.select :sort_by, [["Development Score", "dev_score"], ["Review Score", "rev_score"]] %>

  <%= f.submit "Apply" %>
<% end %>

<br>

<p><%= link_to 'View Raw Data', dashboard_raw_path %></p>

<br>

<table>
  <tr>
    <th>Name</th>
    <th>Github ID</th>
    <th>Dev Score</th>
    <th>Review Score</th>
  </tr>
  <% @employees.each do |emp| %>
  <tr>
    <td><%= emp.name %></td>
    <td><%= emp.github_id %></td>
    <td><%= emp.dev_score.round(2) %></td>
    <td><%= emp.rev_score.round(2) %></td>
    <td><%= button_to "View Metrics", dashboard_show_path(emp.id), method: :get, class: "btn btn-secondary" %></td>
  <% end %>
</table>