<%= form_with url: dashboard_index_path do |f| %>
  <%= f.label :range, "Time Range:" %>
  <%= f.select :range, [["All Time", "all"], ["Last 7 Days", "7days"], ["Last 30 Days", "30days"]]%>

  <%= f.label :status, "PR Status:" %>
  <%= f.select :status, [["All", "all"], ["Closed", "closed"]]%>

  <%= f.label :sort_by, "Sort By:" %>
  <%= f.select :sort_by, [["Development Score", "dev_score"], ["Review Score", "rev_score"]] %>

  <%= f.submit "Apply" %>
<% end %>



<table>
  <tr>
    <th>Name</th>
    <th>Github ID</th>
    <th>Dev Score</th>
  </tr>
  <% @employees.each do |emp| %>
  <tr>
    <td><%= emp.name %></td>
    <td><%= emp.github_id %></td>
    <td><%= emp.dev_score %></td>
    <td><%= emp.rev_score %></td>
  <% end %>
</table>